@import url('https://fonts.googleapis.com/css?family=Fascinate&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

p, h3, h4, h2, button {
font-family: 'Josefin Sans', sans-serif;
}
.Main{
  /* padding-top: 1%; */
    display: flex;
    margin-right: 0%;
    justify-content: space-between;
}
p{
    font-size: 0.9rem;
}
h1{
    font-size: 2.1rem;
}
.Header{
   font-family: 'Fascinate', cursive;
    background-color: #ff3333 ;
   color: #ffebe6;
   padding: 3%;
   margin: 0px;
}

/* Chat Room */
.sender{
    font-weight: bold;
    font-style: italic; 
}
.ChatRoom {

  font-size: 13px;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  height: 100vh;
  width: 80vw;
  margin: 2%;
  text-align: left;

}
.t{
  color: #ff3333; 
  text-align: center;
  background-color: #ffebe6;
  padding: 1%;
}
.thisUser{
    float: right;
}
.user{
    color: #ff3333;
    background-color: #ffebe6 ;

}
.online-users{
  width: 20vw;
  color: #ff3333;
  /* height: 100vh; */
padding-left: 5%;
    /* border-left-style: groove; */
    /* border-left-width: thick; */
        /* background-color:  #ffebe6; */
        margin-right: 0%;
        
}
.online-users h3{
  padding-top: 10%;
}
.online-users h4{
  color: #3cb371;
}


.Message{
    border-left-style: groove;
    border-left-color: #ff3333;
    border-left-width: thick;
    padding: 1%;
    padding-left: 2%;
    background-color: #ffebe6;
}
.ChatRoom .MessageForm {
  background: #ff3333;
  border-top: 1px solid #ccc;
  /* border-radius: 0 0 3px 3px; */
  box-sizing: border-box;
  flex: 0 0 30px;
}
.MessageForm {
    position: fixed;
    padding: 1%;
    left: 1px;
    margin: 0;
  
    width: 100vw;
    right: 2px;
   bottom:0;
  display: flex;
  background: #ff3333;
}

.MessageForm .input-container {
  flex: 1;
  margin: 1px;
}

.MessageForm .button-container {
  flex: 0 0 6em;
  margin: 1px 1px 1px 0;
}

.MessageForm input, .MessageForm button {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: inherit;
  height: 100%;
  outline: none;
  width: 100%;
}

.MessageForm input {
  padding: 0 0 0 4px;
}

/* HOME */
.Home{
font-family: 'Josefin Sans', sans-serif;
background-image: url(./homebackground.jpg);
background-repeat: repeat;
background-position: center;
background-size: cover;
height: 100vh;
width: 100vw;
position: absolute;
color: #e61919;
}
.welcome-1{
margin-top:15%;
/* z-index: 1; */
position: relative;
background-color: #ffebe6;
opacity: 0.9;
padding: 4%; 
margin: 5%;
}
.welcome{
padding-top:5%;
padding-bottom: 5%; 
}
.join-us{
  border: none;
  padding: 11px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;

background-color: #ffebe6; 
color: #e61919;
 
  border: 2px solid #ff3333;
}
.join-us:hover {
  background-color: #ff3333;
  color: white;
}

/* Sign in/Sign Up page + Create a new Room Page */
input {
  display: block;
  margin-bottom: 2%;
}
.sign{

  border: none;
  padding: 11px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;

background-color: #ffebe6; 
color: #e61919;
 
  border: 2px solid #ff3333;
}
.sign:hover {
  background-color: #ff3333;
  color: white;
}
.signdiv{
justify-content: center;
align-self: center;
width: 100vw;
padding-left: 0%;
margin-left: 0%;
height: 100vh;
display: flex;
justify-content: center;
}
.signin{
  height: 60vh;
  width: 50vw;
}

/* Chatrooms index page + My Rooms page */

.title{
  color:#ff3333;
  margin-top: 6%;
  text-align: center;
}
.room{
  margin-top: 6%;
    margin-bottom: 10%;
  /* border: 2px solid  #ff3333; */
  display: flex;
  justify-content: space-evenly;
}
.link{
  /* border: none; */
  /* color:#ffebe6; */
  padding: 2%;
  text-align: center;
  width: 15vw;
  /* text-decoration: none; */
  /* display: inline-block; */
  /* font-size: 0.4rem; */
  /* margin-right: 5%; */
  cursor: pointer;
  background-color: #ff3333;
  color: #ffebe6;
  /* border: solid #e7e7e7; */
  border-radius: 0.3rem;
  margin-bottom: 5%;
}

.link:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.single{
  background-color: #ffebe6;
  padding: 4%;
  border-radius: 3%;
}
.create{
  border-radius: 1.7rem;
  width: 25%;
  padding: 1%;
}
.delete{
  background-color: #ffebe6;
  color:#ff3333;
}

/* Creat Room Page */
.ch{
   background-image: none;
}
.create-form{
  background-color: #ff3333;
  color: #ffebe6;
  height: fit-content;
  margin-top: 10%;
}